# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Nuevo.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\engin\OneDrive\Masaüstü\asdfasda\.idea\.idea.Nuevo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
