@using System.Security.Claims
@model ManagerPasswordView

@if ((User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value == "Admin"))
{
    <ul class="navbar nav">
        <li class="nav-item text-right">
            <div class="dropdown">
                <a class="dropbtn nav-link text-white text-center">Account</a>
                <div class="dropdown-content">
                    <a style="cursor: pointer !important" class="nav-link text-white" data-toggle="modal" data-target="#exampleModal">
                        Change Password
                    </a>
                    <a class="nav-link text-white" asp-controller="Account" asp-action="Logout">
                        Logout
                    </a>
                </div>
            </div>
        </li>
    </ul>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-controller="Manager" asp-action="ChangePassword" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark" id="exampleModalLabel">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-dark">
                        <div class="form-group">
                            <label for="inputPassword" class="col-form-label">Current Password</label>
                            <div class="col-sm-10">
                                <input required type="password" asp-for="@Model.CurrentPassword" class="form-control" placeholder="Password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-form-label">New Password</label>
                            <div class="col-sm-10">
                                <input required type="password" asp-for="@Model.NewPassword" class="form-control" placeholder="Password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-form-label">New Password Again</label>
                            <div class="col-sm-10">
                                <input required type="password" asp-for="@Model.NewPasswordAgain" class="form-control" placeholder="Password"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <ul class="navbar nav ">
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Account" asp-action="Login">
                Login
            </a>
        </li>
    </ul>
}